<footer class="footer text-center py-3 navbar-expand-sm navbar-light footer-lewagon">
  <div>
    <%# <%= image_tag "prof.jpg", alt: "Profbnb Logo", width: 30 %> 
    <%# <%= image_tag "1.png", alt: "Profbnb Logo", width: 30 %>
  </div>
  <p>Profbnb &copy; <%= Time.current.year %> - Tous droits réservés.</p>
</footer>
