<div style= "height: 90vh;">
  <div class="container-lg">
    <div class="cards">
          <%# <h1>Liste des Professeurs</h1> %>
      <% @teachers.each do |teacher| %>
        <tr>
          <div class="card d-flex align-items-center justify-content-between flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path teacher.photo.key, height: 300, crop: :fill %>')">
            <p class="content"><%= teacher.last_name %>
              <%= teacher.first_name %>
            </p>
            <p>
              <%= link_to 'Découvrir', teacher_path(teacher), class: "btn btn-sm button" %>
            </p>
          </div>
        </tr>
      <% end %>
    </div>
  </div>
</div>
